body {
  background-image: image(https://images-beta.tossdown.com/site/5c3e9532-2fd4-4458-9d20-fa3b8b7f0c28.webp);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color:rgba(0, 0, 0, 0.295); */
  color: white;
  background-color: rgb(39, 36, 36);
}


.header {
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0.5em 1.5em;
  border-radius: 1rem;
  margin: 0 0.2rem;
  cursor: pointer;
  font-weight: 7000;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: black;
  color: white;
}

.btn-secondary {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

/* ************ Header **************** */
.header {
  backdrop-filter: blur(5px);

}

.header::after {
  content: "";
  display: block;
  clear: both;
}

.header-logo {
  /* border: 1px solid red; */
  width: 28%;
  margin-left: 100px;
  float: left;
}

.nav-items {
  width: 44%;

  /* border: 1px solid red; */
  float: left;
  text-align: center;
  margin-top: 2rem;
}

.nav-items .nav-item {
  display: inline-block;
  margin: 0 1rem;
  font-weight: 500;
  padding-bottom: 0.3rem;
}

.nav-items .nav-item:hover {
  border-bottom: 1px solid black;
}

.btn-container {
  /* border: 1px solid red; */
  width: max-content;
  float: right;
  text-align: right;
}

.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
  position: relative;
  /* z-index: -1; */
}

.hero-content {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.hero-desc {
  line-height: 1.8;
  margin-bottom: 0.8rem;
}

.hero-btn {
  font-size: 1rem;
  border: 1px solid white;
  color: white;
  padding: 0.5em 2em;
}

.hero-btn:hover {
  border: 1px solid black;
  background-color: black;
}

/* ************** Places section **************  */
.hamburger-menu {
  display: none;
  float: right;
}

/* 
.input-checkbox {
  display: none;
}

.menu-items {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 4rem 2.5rem;
  background-color: black;
  list-style-type: none;
  z-index: -1;
}

.menu-items .menu-item {
  margin-bottom: 0.8rem;
}

.menu-items .menu-item a {
  color: white;
}
.menu-items .menu-item a:hover {
  color: orange;
} */

/* .hamburger-menu input[type="checkbox"]:checked ~ .menu-items {
  display: block;
} */
.btn-capacity {
  border: none;
  background-color: transparent;
  padding: 0.5em 1.5em;
  border-radius: 1rem;
  margin: 0 0.2rem;
  cursor: pointer;
  font-weight: 7000;
  transition: opacity 0.3s ease;
  color: beige;
  border: 1px solid white;
  margin-bottom: 20px;
}

.para {
  font-size: 40px;
  text-align: center;
}

.paragraph {
  font-size: 20px;
  text-align: center;
}

.qwerty {
  display: flex;
  justify-content: space-between;
  /* background-color: black; */
  text-align: center;
}

.para-section {
  color: red;
  letter-spacing: 10px;
  /* margin-left: 130px; */
}

.para-second {
  /* margin-left: 130px; */
  font-size: 35px;
}

.btn-second {
  border: 1px solid beige;
  margin-left: 130px;
  border-radius: 1rem;
  font-weight: 400px;
  cursor: pointer;
}

/* .second-section {
    display: flex;
} */
.images-deta {
  gap: 500px;
}

.second-section {
  /* border: 1px solid white; */
  /* margin-top:  */
  /* margin-top: 200px; */
  /* border: 1px solid yellowgreen; */
  /* display: inline-block; */
 
}

.second-section-01 {
  /* border: 1px solid yellow; */
  /* float: left; */
  float: right;
  margin-right: 120px;
}

.second-section-02 {
  /* border: 1px solid green; */
  /* float: left; */
  /* float: left;
  height: 100px; */
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 300px;
  /* margin-left: 100px; */
  margin-bottom: 300px;
}

.hero-section {
  /* background-color: black; */
  /* margin-bottom: 300px; */
}
/* ------------------------------------------------------- */
.third-section-03 {
  /* border: 1px solid yellow; */
  /* float: left; */
  float: right;
      
  margin-bottom: 400px;
  margin-right: 120px;
  display:block ;
  height: 300px;
}

.third-section-02 {
  /* border: 1px solid green; */
  /* float: left; */
  float: left;
  /* height: 100px; */
  /* margin-top: 50px; */
  margin-right: 80px;
  margin-left: 100px;
  /* display: block; */
  /* height: 300px; */
  margin-bottom: 100px;
  /* margin-left: 100px; */
  /* margin-bottom: 400px; */
}
/* -------------------------------------------------------------------------------------- */
.fourth-section-01 {
  /* border: 1px solid yellow; */
  /* float: left; */
  float: right;
  margin-left: 150px;
}

.fourth-section-02 {
  /* border: 1px solid green; */
  /* float: left; */
   /* float: left; */
  /* height: 100px; */ */
  /* margin-top: 50px; */
  /* margin-left: 100px; */
  /* margin-bottom: 300px; */
  /* margin-left: 100px; */
  /* margin-bottom: 300px; */
  /* padding: 200px; */
}
.fourth-section {
  /* display: flex; */
}
/* _______________________________________________________________________________________________________________________ */
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-left: 80px;
  margin-right: 80px;
  gap: 80px;
  margin-top: 20px;
}
/* _____________________________________________________________________________________________________________________________________- */
.laptop {
  display: flex;
  justify-content: space-around;
}
 .eight-section {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
 }
 .last-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
 }
 /* ----------------------------------------------------------------------------------------- */
 .nine-section {
  /* margin-top: 200px; */
  /* border: 1px solid yellowgreen; */
  /* height: 5000px; */
  float: left;
  margin-left: 30px;
   }
   .nine-section-02 {
    float: left;
   }
   .nine-section-03 {
float: right;
margin-top: 70px;
/* border: 1px solid red ; */
   }
 
                                     /* footer */
footer {
  /* background-color: black; */
  /* border: 1px solid gray; */
  color: white;
  padding: 20px 0px;
  display: inline-block;
}
.footer-section-1 {
  /* border: 1px solid red; */
  /* width: 30px; */
  float: left;
  margin-left: 50px;
}
.footer-section-2 {
  /* border: 1px solid red; */
  /* width: 20px; */
  float: left;
  margin-left: 90px;
  gap: 30px;
}
.footer-section-3 {
  /* border: 1px solid red; */
  /* width: 30px; */
  float: right;
  /* margin-right: 100px; */
  margin-left: 30px;
}
.footer-section-2 p {
  color: wheat;
  list-style-type: none;
}
                                    /* publications-section  */
.box {
  margin-bottom: 100px;
}
.box-1 {
  border: 1px solid gray;
  /* height: 200px; */
  width: 500px;
  float: left;
  display: block;
  align-items: center;
  padding: -70px;
  margin-left: 70px;
  margin-top: -30px;
   transition: with 2s ease;

}
.box-2 {
  margin-top: -30px;
  border: 1px solid gray;
  /* height: 200px; */
  /* float: right; */
  /* width: 500px; */
  float: right;
  margin-right: 50px;
  transition: with 2s ease;
 
}
.box-1 img:hover {
       width: 650px;
       height: 700px;
}
.box-2 img:hover {
       width: 650px;
       height: 700px;
}
